@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Henny+Penny&family=Rampart+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Rubik+Bubbles&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-wheel{
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
}
.fcuk {
   
    letter-spacing: 7px!important;
   
    text-transform: uppercase;
  }
  
  .fcuk {
    
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
  }
  
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 800px;
    }
  }


.disablearrows{
 -webkit-outer-spin-button,
-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

}



.formtext,select{
  
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
  
}